.BrainLogo {
    width: 300px;
    transform: translate(20%);
}

.BrainSilhouette {
    margin-left: 40px;
    margin-top: -170px;
    position: absolute;
    z-index: -1;
}

.BrainCog1 {
    display: inline-block;
}

.BrainCog2 {
    margin-left: 55px;
    display: inline-block;
}

.BrainCog3 {
    margin-left: 175px;
}